
@font-face{
font-family:'stencil';
src: url('../fonts/STENCIL.TTF');
src: url('../fonts/STENCIL.eot'),
url('../fonts/STENCIL-webfont.eot?#iefix') format('embedded-opentype'),
        /* url('../fonts/STENCIL-webfont.woff2') format('woff2'),*/
         url('../fonts/STENCIL-webfont.woff') format('woff'),
         url('../fonts/STENCIL-webfont.ttf') format('truetype'),
         url('../fonts/STENCIL-webfont.svg#stencilregular') format('svg');
}
a{
  position: relative;
  text-decoration: none;
  margin: 0 auto;
  left: 290px;
}
.animal {
	position: absolute;
	cursor: pointer;
	width: 65px;
	height: 59px;
}
.animal:hover {
	opacity: 0.8;
	border-color: #FF0000;
}
.selected {
	opacity: 0.8;
	/*border-color: #FF0000;*/
}
.brown {
	background-image: url(../images/zImg_0.png);
	
}
.yellow {
	background-image: url(../images/zImg_1.png);
}
.pink {
	background-image: url(../images/zImg_2.png);
}
.white {
	background-image: url(../images/zImg_3.png);
}
.hungry {
	background-image: url(../images/zImg_0_Hungry.png) !important;
	
}
.fat {
	background-image: url(../images/zImg_0_Fat.png) !important;
	
}
.expo {
	background-image: url(../images/explosion.gif) !important;
	
}
.head{
	font-family: stencil;
}
#stage{
	position: relative;
	width: 754px;
	margin: 0 auto;
	background: url(../images/GameBoard.png) no-repeat;
	height: 653px;
}

.number{
	float: left;
	position: relative;

	color: white;
	font-size: 28px;

}

#lives{
	top: 44px;
	left: 34px;

}

#level{
	top: 44px;
	left: 338px;
	color: #5e9bc3;

}

#moves{
	top: 58px;
	right: 39px;
	float: right;
}



.grid{

	
	position:relative;
	cursor: pointer;
}
.grid div{
	width:65px;
	height:59px;
	position:absolute;
}


.beforeBegin{
	font-family: microsoft yahei;
	width: 100%;
	height: 653px;
	z-index: 1000;
	position:absolute;
	top:0;
	left: 0;
	text-align: center;
	background-color: gray;
	filter:alpha(opacity=50);/*IE*/  
	opacity:0.5;/*Mozilla*/ 
		}
.mask{
	width: 754px;
	/*height: 653px;*/
	color: white;
	font-size: 100px;
	font-weight: bold;
	/*line-height: 438px;*/
	cursor:pointer;
	position:relative;
	top: 278px;
}

.info{
	cursor:pointer;
	position: relative;
	font-size: 20px;
	color: red;
	top:300px;
	margin: 0 auto;
}

#record {
	float: left;
	position: absolute;
/*	top: 197px;
	left: 125px;*/
	width: 0%;
	margin: 0 auto;
	height: 100%;
	background: url(../images/CompletedProgress.png) no-repeat left;;
	overflow: hidden;
}
#record::before {
  content:attr(some-attribute-name);
  position: absolute;
  top: 34px;
  color: #ffffff;
      margin-left:-43px;
  margin-top:-25px;
  left: 248px;
  font-size: 25px;
  font-family: microsoft yahei;
  font-weight: bold;
}

#progress {
	float: left;
	position: relative;
	top: 197px;
	left: 125px;
	width: 476px;
	/*margin: 0 auto;*/
	height: 48px;
	background: none;
	/*overflow: hidden;*/
	  color: #7498d6;

  font-size: 25px;
  font-family: microsoft yahei;
  font-weight: bold;
}
#progress::before {
  content: attr(some-attribute-name);
  position: absolute;
  top: 34px;
   margin-left:-43px;
  margin-top:-25px;
  color: #7498d6;
  left: 248px;
  font-size: 25px;
  font-family: microsoft yahei;
  font-weight: bold;
}
.sound {
	cursor: pointer;
  position: absolute;
  left: 645px;
  width: 50px;
  top: 576px;
  height: 50px;
  background-image: url(../images/NoSound.png)
}
.footer{
  position: relative;
  margin: 0 auto;
  width: 754px;

  /* top: 50px; */
  margin-top: 10px;
  font-family: microsoft yahei;
  /* text-decoration: none; */
}